In [33]:
### change data type of a pandas series

import pandas as pd
df_drinks = pd.read_csv('http://bit.ly/drinksbycountry')
df_drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
11,Bahamas,122,176,51,6.3,North America
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
14,Barbados,143,173,36,6.3,North America
15,Belarus,142,373,42,14.4,Europe
16,Belgium,295,84,212,10.5,Europe
17,Belize,263,114,8,6.8,North America
18,Benin,34,4,13,1.1,Africa
19,Bhutan,23,0,0,0.4,Asia
20,Bolivia,167,41,8,3.8,South America
21,Bosnia-Herzegovina,76,173,8,4.6,Europe
22,Botswana,173,35,35,5.4,Africa
23,Brazil,245,145,16,7.2,South America
24,Brunei,31,2,1,0.6,Asia
25,Bulgaria,231,252,94,10.3,Europe
26,Burkina Faso,25,7,7,4.3,Africa
27,Burundi,88,0,0,6.3,Africa
28,Cote d'Ivoire,37,1,7,4.0,Africa
29,Cabo Verde,144,56,16,4.0,Africa
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,South America
164,Swaziland,90,2,2,4.7,Africa
165,Sweden,152,60,186,7.2,Europe
166,Switzerland,185,100,280,10.2,Europe
167,Syria,5,35,16,1.0,Asia
168,Tajikistan,2,15,0,0.3,Asia
169,Thailand,99,258,1,6.4,Asia
170,Macedonia,106,27,86,3.9,Europe
171,Timor-Leste,1,1,4,0.1,Asia
172,Togo,36,2,19,1.3,Africa
173,Tonga,36,21,5,1.1,Oceania
174,Trinidad & Tobago,197,156,7,6.4,North America
175,Tunisia,51,3,20,1.3,Africa
176,Turkey,51,22,7,1.4,Asia
177,Turkmenistan,19,71,32,2.2,Asia
178,Tuvalu,6,41,9,1.0,Oceania
179,Uganda,45,9,0,8.3,Africa
180,Ukraine,206,237,45,8.9,Europe
181,United Arab Emirates,16,135,5,2.8,Asia
182,United Kingdom,219,126,195,10.4,Europe
183,Tanzania,36,6,1,5.7,Africa
184,USA,249,158,84,8.7,North America
185,Uruguay,115,35,220,6.6,South America
186,Uzbekistan,25,101,8,2.4,Asia
187,Vanuatu,21,18,11,0.9,Oceania
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [19]:
df_drinks.shape

(193, 6)

In [20]:
df_drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [21]:
df_drinks['beer_servings'] = df_drinks.beer_servings.astype(float)

### converting a column type is useful when an int/float column is stored as a string/object
### by converting we can do mathematical calculations on the column

In [22]:
df_drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [27]:
df_drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype = {'wine_servings':float})
df_drinks.dtypes

### useful when we want to change the dtype at the time of importing the dataset

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                   float64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [36]:
df_drinks.groupby(['continent']).max()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,,
Africa,Zimbabwe,376,152,233,9.1
Asia,Yemen,247,326,123,11.5
Europe,United Kingdom,361,373,370,14.4
North America,USA,285,438,100,11.9
Oceania,Vanuatu,306,254,212,10.4
South America,Venezuela,333,302,221,8.3

In [37]:
df_drinks.groupby(['continent']).min()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,,
Africa,Algeria,0,0,0,0.0
Asia,Afghanistan,0,0,0,0.0
Europe,Albania,0,0,0,0.0
North America,Antigua & Barbuda,1,68,1,2.2
Oceania,Australia,0,0,0,0.0
South America,Argentina,93,25,1,3.8

In [41]:
df_drinks[df_drinks['continent'] == 'Asia']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
19,Bhutan,23,0,0,0.4,Asia
24,Brunei,31,2,1,0.6,Asia
30,Cambodia,57,65,1,2.2,Asia
36,China,79,192,8,5.0,Asia
46,North Korea,0,0,0,0.0,Asia
77,India,9,114,0,2.2,Asia
78,Indonesia,5,1,0,0.1,Asia
79,Iran,0,0,0,0.0,Asia
80,Iraq,9,3,0,0.2,Asia
82,Israel,63,69,9,2.5,Asia
85,Japan,77,202,16,7.0,Asia
86,Jordan,6,21,1,0.5,Asia
87,Kazakhstan,124,246,12,6.8,Asia
90,Kuwait,0,0,0,0.0,Asia
91,Kyrgyzstan,31,97,6,2.4,Asia
92,Laos,62,0,123,6.2,Asia
94,Lebanon,20,55,31,1.9,Asia
102,Malaysia,13,4,0,0.3,Asia
103,Maldives,0,0,0,0.0,Asia
112,Mongolia,77,189,8,4.9,Asia
116,Myanmar,5,1,0,0.1,Asia
119,Nepal,5,6,0,0.2,Asia
127,Oman,22,16,1,0.7,Asia
128,Pakistan,0,0,0,0.0,Asia
134,Philippines,71,186,1,4.6,Asia
137,Qatar,1,42,7,0.9,Asia
138,South Korea,140,16,9,9.8,Asia
141,Russian Federation,247,326,73,11.5,Asia
149,Saudi Arabia,0,5,0,0.1,Asia
154,Singapore,60,12,11,1.5,Asia
161,Sri Lanka,16,104,0,2.2,Asia
167,Syria,5,35,16,1.0,Asia
168,Tajikistan,2,15,0,0.3,Asia
169,Thailand,99,258,1,6.4,Asia
171,Timor-Leste,1,1,4,0.1,Asia
176,Turkey,51,22,7,1.4,Asia
177,Turkmenistan,19,71,32,2.2,Asia
181,United Arab Emirates,16,135,5,2.8,Asia
186,Uzbekistan,25,101,8,2.4,Asia
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia

In [46]:
df_drinks.groupby(['continent'])['beer_servings', 'wine_servings'].mean().plot(kind = 'bar')